<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>vite js</title>
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <!-- run vite -->
        <%- vite %>
    </head>
    <body>
        <div class="container">
            <div id="app"></div>
            <div class="">
                <a href=https://x.com/Yonatanvigiliox" target="_blank">
                    <img width="30" height="30" src=<%= route("/x.png")%> alt="xlogo">
                </a>
                <a href="https://github.com/VigilioYonatan" target="_blank">
                    <img width="30" height="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="github logo">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/yonatan-vigilio-lavado-bb57b4219/">
                    <img width="30" height="30" src="https://static.vecteezy.com/system/resources/previews/018/930/587/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png" alt="xlogo">
                </a>
            </div>
          
        </div>
       
    </body>
</html>
